#btn {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
#btn:hover,
:focus {
  color: #ffffff;
  background: #84C324;
  border: 1px solid #84C324;
  text-shadow: 0 0 5px #84C324, 0 0 10px #84C324, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #84C
}