.single-chamber-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .chamber-header {
    text-align: center;
    margin-bottom: 30px;
    background: linear-gradient(to right, #00cc00 0%, #99ff99 100%);
    width: 100%;
    padding: 4% 0;
    color: white;

  }
  
  .chamber-header h1 {
    font-size: 2.5rem;
    /* color: #333; */
  }
  
  .chamber-header p {
    font-size: 1.2rem;
    /* color: #666; */
  }
  
  .chamber-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .chamber-section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .chamber-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease;
    border-radius: 8px;
  }
  
  .chamber-section:hover .chamber-image {
    transform: scale(1.05);
  }
  
  .chamber-content {
    flex: 1;
  }
  
  .chamber-content h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .chamber-content ul {
    list-style: disc inside;
    color: #666;
  }
  
  .chamber-content ul li {
    margin-bottom: 10px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .grid-item:hover img {
    transform: scale(1.1);
  }
  
  .grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }
  
  .grid-item:hover::before {
    border-color: #3498db;
  }
  